.container--empty {
  height: 100vh;
  display: grid;

  grid-template-columns: 0px 1fr;

  grid-template-areas: 'aside main';
}

.container--empty__RT {
  grid-template-columns: 1fr 260px;

  grid-template-areas: 'main aside';
}

.aside__classic {
  grid-area: aside;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main__empty {
  grid-area: main;

  display: grid;
  grid-template-rows: 0px 1fr;
  grid-template-areas:
    'header'
    'main__content';
  height: 100vh;
}

.header__classic {
  grid-area: header;
  display: flex;
  align-items: center;
  z-index: 1;
  padding-inline: 1rem;
}

.main__content {
  grid-area: main__content;
  text-align: center;
  overflow-y: auto;
}

.logo__classic {
  width: 200px;
  margin-inline: auto;
}

@media only screen and (max-width: 900px) {
  .container--empty {
    display: block;
  }
  .aside__classic {
    display: none;
  }
  .main__empty {
    height: 100vh;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
