/* table,
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.7);
  text-align: left;
}

table {
  border-collapse: collapse;
  width: '100%';
  table-layout: fixed;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

th,
td {
  padding: 15px;
  text-align: center;
} */
table {
    text-align: left;
    width: 100%;
    position: relative;
    border-collapse: collapse;
}

th,
td {
    padding: 0.25rem;
}

tr.red th {
    min-height: 50px;
    background: #000000;
    color: rgba(255, 255, 255, 0.12);
    padding: 10px;
}

th {
    background: #888;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.12);
}
